/*
========================
Partials-Footer
========================
*/

.site-footer {
	background: lightseagreen;
	text-align: center;
	color: white;
	padding: 10px 0;
	margin-top: 80px;
	overflow: hidden;
	display: block;
}