/*
========================
Modules-Forms
========================
*/

form {
	font-size: inherit;
	font-family: inherit;
	margin-top: 2em;
	margin-bottom: 2em;
	color: lighten(black, 40%);

	h3 {
		color: lighten(black, 40%);
	}

	textarea {
		text-align: left;
		font-size: .8em !important;
		max-width: 100%;
	}

	textarea:focus {
		border: 0;
		background: lighten(whitesmoke, 2%);
		outline: none;
		transition: all 0.1s ease-in;
	}

	input, textarea {
		display: block;
		border: 0;
		border-bottom: 1px dotted darken(whitesmoke, 10%);
		font-size: 1em;
		transition: all 0.1s ease-out;
		width: 100%;
		font-size: 1.4em;
		font-family: inherit;

		&:first-of-type {
			margin-top: 1.5em;
		}
	}

	input:focus {
		border: 0;
		background: lighten(whitesmoke, 2%);
		outline: none;
		transition: all 0.1s ease-in;
	}

	input[type=color] {
		height: 100px;
		width: 100px;
		background-color: red;
		border: 0;
	}

	input[type=number] {}

	input[type=radio] {}

	input[type=tel] {}

	input[type=text] {}

	input[type=url] {}
	
	input[type=checkbox], input[type=radio] {
		float: left;
		display: inline;
		width: 10px;
		height: 10px;
		margin-top: .6em;
		margin-right: .8em;
		box-shadow: 0 0 1px #ccc;
		border-radius: 3px;
		cursor: pointer;
		transform: scale(2);

		+ span {
			margin-bottom: 0;
		}
	}

	.checkboxes, .radios {
		margin: 2em 0;

		small {
			margin-top: 1em;
			display: block;
			color: lighten(black, 40%);
		}
	}

	input[type=radio] {
		transform: 0;
		border-radius: 0;
		box-shadow: 0;
	}

	input[type=submit] {
		margin-top: 1.5em;
		background: lightseagreen;
		color: white;
		padding: 8px 0;
		cursor: pointer;
		transition: all 0.2s ease-out;

		&:hover {
			background: darken(lightseagreen, 5%);
			transition: all 0.2s ease-in;
		}
	}

	label, span {
		display: block;
		overflow: hidden;
		margin-bottom: 1.5em;
		padding-top: .5em;
		font-size: 1em;
		color: lighten(black, 40%);

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}